@model List<PhoneDetaild>
@using AppData.Models;

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">Shop List</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-4">
            <!-- Price Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by price</span></h5>
            <div class="bg-light p-4 mb-30">
                <form>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" checked id="price-all">
                        <label class="custom-control-label" for="price-all">All Price</label>
                        <span class="badge border font-weight-normal">1000</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-1">
                        <label class="custom-control-label" for="price-1">$0 - $100</label>
                        <span class="badge border font-weight-normal">150</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-2">
                        <label class="custom-control-label" for="price-2">$100 - $200</label>
                        <span class="badge border font-weight-normal">295</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-3">
                        <label class="custom-control-label" for="price-3">$200 - $300</label>
                        <span class="badge border font-weight-normal">246</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-4">
                        <label class="custom-control-label" for="price-4">$300 - $400</label>
                        <span class="badge border font-weight-normal">145</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                        <input type="checkbox" class="custom-control-input" id="price-5">
                        <label class="custom-control-label" for="price-5">$400 - $500</label>
                        <span class="badge border font-weight-normal">168</span>
                    </div>
                </form>
            </div>
            <!-- Price End -->
            <!-- Color Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by Price</span></h5>
            <div class="bg-light p-4 mb-30">
                <form asp-action="TimKiem">
                    <div>
                        
                        <div>
                            <input type="number" name="minPrice" step="1" placeholder="$min" class="form-control-sm col-5"/>&nbsp;&#8212;&nbsp;<input type="number" name="maxPrice" step="1" placeholder="$max" class="form-control-sm col-5" />
                        </div>
                        <input type="submit" value="Filter" class="btn btn-primary btn-sm" />
                        <a asp-action="TimKiem" class="btn btn-secondary btn-sm float-right">Clear</a>
                    </div>
                </form>
            </div>
            <!-- Color End -->
            
        </div>
        <!-- Shop Sidebar End -->


        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div>
                            <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                            <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                        </div>
                        <div class="ml-2">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Sorting</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Latest</a>
                                    <a class="dropdown-item" href="#">Popularity</a>
                                    <a class="dropdown-item" href="#">Best Rating</a>
                                </div>
                            </div>
                            <div class="btn-group ml-2">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Showing</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">10</a>
                                    <a class="dropdown-item" href="#">20</a>
                                    <a class="dropdown-item" href="#">30</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


               @* @foreach (var item in Model)
                {
                    <li class="glide__slide">
                        <div class="product">
                            <div class="product__header">
                                <img src="" alt="product">
                            </div>
                            <div class="product__footer">
                                <h3>@item.Phones.PhoneName</h3>
                                <div class="rating">
                                    <svg>
                                        <use xlink:href="./images/sprite.svg#icon-star-full"></use>
                                    </svg>
                                    <svg>
                                        <use xlink:href="./images/sprite.svg#icon-star-full"></use>
                                    </svg>
                                    <svg>
                                        <use xlink:href="./images/sprite.svg#icon-star-full"></use>
                                    </svg>
                                    <svg>
                                        <use xlink:href="./images/sprite.svg#icon-star-full"></use>
                                    </svg>
                                    <svg>
                                        <use xlink:href="./images/sprite.svg#icon-star-empty"></use>
                                    </svg>
                                </div>
                                <div class="product__price">
                                    <h4>@item.Price</h4>
                                </div>
                                <a href="#"><button type="submit" class="product__btn">Add To Cart</button></a>
                            </div>
                            <ul>
                                <li>
                                    <a data-tip="Quick View" data-place="left" href="#">
                                        <svg>
                                            <use xlink:href="./images/sprite.svg#icon-eye"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a data-tip="Add To Wishlist" data-place="left" href="#">
                                        <svg>
                                            <use xlink:href="./images/sprite.svg#icon-heart-o"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a data-tip="Add To Compare" data-place="left" href="#">
                                        <svg>
                                            <use xlink:href="./images/sprite.svg#icon-loop2"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                }*@
                    
         
                
                <div class="col-12">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->