@using AppData.FPhoneDbContexts;
@model IEnumerable<AppData.Models.DiscountEntity>

@{
    ViewData["Title"] = "Index";
     Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    FPhoneDbContext context = new FPhoneDbContext();
}
<style>
    .checkbox_css {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .voucher-checkbox {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .radio_check input[type="radio"] {
        margin-left: 10px;
        cursor: pointer;
    }

    .tabs {
        display: flex;
        border: 1px solid #ccc;
        overflow: hidden;
        background-color: white;
        margin-bottom: 20px;
        border-radius: 10px;
        width: 600px;
        margin-top: 50px;
    }

    .tab-item {
        flex: 1;
        font-size: 14px;
        text-align: center;
        padding: 10px 0;
        cursor: pointer;
        color: #333333;
        transition: background-color 0.3s;
    }

        .tab-item.active {
            background-color: #3F87F5;
            color: #fff;
        }

    .d-md-flex {
        display: flex !important;
        margin-bottom: -15px;
    }

</style>

<header>
    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Quản trị</a>
                <a class="breadcrumb-item" asp-action="Index" asp-controller="Discount">Danh sách voucher online</a>
            </nav>
        </div>
    </div>
</header>
<div class="card-body" style="background-color:#F5F7F8;width: 95%;margin: auto;">
    <h1 style="text-align:center;font-family:Arial">Danh Sách Voucher Online</h1>
    <div class="d-md-flex">
        <div class="row w-100 m-b-30">
            <div class="col-lg-5">
                <form asp-action="Index" method="post">
                    <div class="d-md-flex">
                        <div class="m-b-10">
                            <div class="tabs">
                                <div class="tab-item active " id="tab1" name="trangThai">Tất cả</div>
                                <div class="tab-item  " id="tab2" name="trangThai" data-value="0">Hoạt động</div>
                              
                                <div class="tab-item" id="tab4" name="trangThai" data-value="1">Không hoạt động</div>
                              
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-7 text-right" style="margin-top:50px">
                <a class="btn btn-primary" asp-action="Create" asp-controller="Discount">Tạo mới</a>
            </div>
        </div>
    </div>

    <div id="partialContainer">
        <!-- Nội dung PartialView sẽ được hiển thị ở đây -->
    </div>


    @* //Huỷ voucher đã chọn *@
    <button class="btn btn-warning mr-2" data-toggle="modal" data-target="#cancel" style="color:white">Huỷ hoạt động của voucher đã chọn</button>
    <div class="modal fade" id="cancel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background: #3f87f5;">
                    <h5 class="modal-title" id="exampleModalLabel">XÁC NHẬN</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="anticon anticon-close"></i>
                    </button>
                </div>
                <div class="modal-body" style="background: white;">
                    <span id="thongBao">Bạn có huỷ voucher đã chọn không ?</span>
                </div>
                <div class="modal-footer" style="background: white">

                    <button class="btn btn-primary bd-0 col-md-6" id="delete-button">Xác nhận</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>

   
  

</div>
<script>
    // Gọi hàm khi trang web được load
    $(document).ready(function () {
        loadDefaultVoucher();
    });
    // Hàm để load danh sách Voucher mặc định khi trang web được load
    function loadDefaultVoucher() {
        var trangThai = $('#tab1').data('value'); // Lấy giá trị mặc định từ tab "Hoạt động"
        $.ajax({
            url: '@Url.Action("FilterVoucherByStatus", "Discount")',
            type: 'POST',
            data: { trangThai: trangThai },
            success: function (result) {
                $('#partialContainer').html(result);
            }
        });
    }
    // Hàm để gọi Ajax và chuyển về controller để huỷ hoạt động voucher
    function huyHoatDongVoucher(selectedIds) {
        // Thực hiện Ajax request để chuyển selectedIds về controller
        $.ajax({
            url: '/Admin/Vouchers/DeleteVoucherWithList', // Thay 'ControllerName' bằng tên thực tế của controller
            type: 'POST', // Hoặc 'GET' tùy thuộc vào yêu cầu của bạn
            data: { voucherIds: selectedIds },
            success: function (response) {
                if (response === true) {
                    // Nếu xóa thành công, hiển thị thông báo thành công và reload trang
                    Swal.fire({
                        title: 'Thông báo!',
                        text: 'Huỷ hoạt động voucher thành công!',
                        icon: 'success'
                    }).then((result) => {
                        if (result.isConfirmed || result.isDismissed) {
                            // location.reload(); // Reload trang khi ấn OK
                            setTimeout(function () {
                                location.reload();
                            }, 1500);
                        }
                    });
                } else {
                    Swal.fire({
                        title: 'Thông báo!',
                        text: 'Huỷ hoạt động voucher thất bại!',
                        icon: 'error'
                    }).then((result) => {
                        if (result.isConfirmed || result.isDismissed) {
                            // location.reload(); // Reload trang khi ấn OK
                            setTimeout(function () {
                                location.reload();
                            }, 1500);
                        }
                    });
                }
                $('#cancel').modal('toggle');
            },
            error: function (error) {
                // Xử lý lỗi khi request gặp vấn đề
                Swal.fire({
                    title: 'Thông báo!',
                    text: 'Huỷ hoạt động voucher thất bại!',
                    icon: 'error'
                }).then((result) => {
                    if (result.isConfirmed || result.isDismissed) {
                        // location.reload(); // Reload trang khi ấn OK
                        setTimeout(function () {
                            location.reload();
                        }, 1500);
                    }
                });
                $('#cancel').modal('toggle');
            }
        });
    }

    function KhoiPhucVoucher(selectedIds) {
        // Thực hiện Ajax request để chuyển selectedIds về controller
        $.ajax({
            url: '/Admin/Vouchers/RestoreVoucherWithList', // Thay 'ControllerName' bằng tên thực tế của controller
            type: 'POST', // Hoặc 'GET' tùy thuộc vào yêu cầu của bạn
            data: { voucherIds: selectedIds },
            success: function (response) {
                if (response === true) {
                    // Nếu xóa thành công, hiển thị thông báo thành công và reload trang
                    Swal.fire({
                        title: 'Thông báo!',
                        text: 'Khôi phục động voucher thành công!',
                        icon: 'success'
                    }).then((result) => {
                        if (result.isConfirmed || result.isDismissed) {
                            // location.reload(); // Reload trang khi ấn OK
                            setTimeout(function () {
                                location.reload();
                            }, 1500);
                        }
                    });
                } else {
                    Swal.fire({
                        title: 'Thông báo!',
                        text: 'Khôi phục hoạt động voucher thất bại!',
                        icon: 'error'
                    }).then((result) => {
                        if (result.isConfirmed || result.isDismissed) {
                            // location.reload(); // Reload trang khi ấn OK
                            setTimeout(function () {
                                location.reload();
                            }, 1500);
                        }
                    });
                }
                $('#restore').modal('toggle');
            },
            error: function (error) {
                Swal.fire({
                    title: 'Thông báo!',
                    text: 'Khôi phục hoạt động voucher thất bại!',
                    icon: 'error'
                }).then((result) => {
                    if (result.isConfirmed || result.isDismissed) {
                        // location.reload(); // Reload trang khi ấn OK
                        setTimeout(function () {
                            location.reload();
                        }, 1500);
                    }
                });
                $('#restore').modal('hide');
            }
        });
    }

    var tabs = document.querySelectorAll('.tab-item');

    // Gán sự kiện click cho mỗi tab
    tabs.forEach(function (tab) {
        tab.addEventListener('click', function () {
            // Xóa class 'active' từ tất cả các tab
            tabs.forEach(function (innerTab) {
                innerTab.classList.remove('active');
            });

            // Thêm class 'active' cho tab được click
            tab.classList.add('active');
        });
    });
    $('.tab-item').click(function () {
        var trangThai = $(this).data('value');

        $.ajax({
            url: '@Url.Action("FilterVoucherByStatus", "Discount")',
            type: 'POST',
            data: { trangThai: trangThai },
            success: function (result) {
                $('#partialContainer').html(result);
            }
        });
    });

</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
<script src="~/Admin/js/pages/e-commerce-order-list.js"></script>
<script src="~/Admin/vendors/datatables/jquery.dataTables.min.js" defer></script>
<script src="~/Admin/vendors/datatables/dataTables.bootstrap.min.js" defer></script>
<script src="~/Admin/js/pages/datatables.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
