@model AppData.Models.ApplicationUser
@{
    ViewData["Title"] = "EditAccount";
}
<partial name="DataError" />
<div class="card container-fluid">
    <div class="card-header py-2" >
       <h2>Chỉnh sửa thông tin nhân viên</h2>
    </div>
    <div class="card-body" style="background-color:aliceblue">
        <div class="row">
            <label class="col-form-label">
                <h3>Thông tin nhân viên</h3>
            </label>
        </div>
        <form asp-action="EditAccount" method="post" enctype="multipart/form-data">
           
            <input hidden asp-for="PasswordHash"/>
            <input hidden asp-for="UserName"/>
            <input hidden asp-for="NormalizedUserName"/>
            <input hidden asp-for="SecurityStamp"/>
            <input hidden asp-for="TwoFactorEnabled"/>
            <input hidden asp-for="LockoutEnabled"/>
            <input hidden asp-for="AccessFailedCount"/>
            <input hidden asp-for="PhoneNumberConfirmed"/>
            <input hidden asp-for="ImageUrl"/>
            <input hidden asp-for="ImageUrl"></input>
            <div class="row justify-content-center mb-3">
                <img id="imagePreview" src="@(Model.ImageUrl ?? "")" width="200px" height="200px" class="rounded-circle">
            </div>
            <div class="row">
                <label class="col-4"></label>
                <input name="Images" id="fileInput" accept=".jpg,.png,.gif,.svg" class="col" type="file" />
            </div>
            <div class="row mt-4">
                <label class="text-end col-form-label col-2 field-required">Username</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" readonly asp-for="UserName"/>
                </div>
            </div>
            <div class="row mt-4">
                <label class="text-end col-form-label col-md-2">Họ & Tên</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" asp-for="Name"/>
                </div>
            </div>
            <div class="row mt-4">
                <label class="text-end col-form-label col-md-2">Email</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" asp-for="Email"/>
                </div>
                <label class="text-end col-form-label col-md-2">CCCD</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" asp-for="CitizenId"/>
                </div>
            </div>
            <div class="row mt-4">
                <label class="text-end col-form-label col-md-2">SĐT</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" asp-for="PhoneNumber"/>
                </div>
                <label class="text-end col-form-label col-md-2">Địa chỉ</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" asp-for="Address"/>
                </div>
            </div>
            <div class="row mt-4">
                <label class="text-end col-form-label col-2">Trạng thái</label>
                <div class="col-sm-4" style="margin-right: 190px">
                    <select asp-for="Status" class="form-control">
                        <option value="0">Hoạt động</option>
                        <option value="1">Không hoạt động</option>
                    </select>
                </div>
            </div>
            <div class="row mt-4">
                <label class="text-end col-form-label col-2">Chức vụ</label>
                <div class="col-sm-4" style="margin-right: 190px">
                    <select asp-for="Role" class="form-control">
                        <option value="@string.Empty">--Lựa chọn--</option>
                        <option value="Admin">Admin</option>
                        <option value="Staff">Nhân viên</option>
                    </select>
                </div>
            </div>
            <div class="row mt-4 justify-content-center">
                    <input type="submit" class="btn btn-primary " value="Lưu"/>
            </div>
        </form>
    </div>
   
    <div class="row mt-2">
        <div class="col-10"></div>
        <div class="col-2">
            <a class="btn btn-primary" asp-action="Account">Quay lại</a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#fileInput').change(function () {
            previewImage();
        });

        function previewImage() {
            var preview = $("#imagePreview");
            const fileInput = $("#fileInput")[0];

            if (fileInput.files && fileInput.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    preview.attr({
                        'src': e.target.result
                    });
                };

                reader.readAsDataURL(fileInput.files[0]);
            }
        }
    });

</script>