@model PRO219_WebsiteBanDienThoai_FPhone.ViewModel.ChangePasswordViewmodel


<style>
    body{
        background:#eee;
    }
    .img-thumbnail{
        border:0px;    
    }
    .btn, .input-lg, .alert {
        border-radius:2px !important;
    }

    .form-control {
        font-size: 1.6rem;
    }

    .btn-group-lg > .btn, .btn-lg {
        --bs-btn-font-size: 1.6rem;
    }
</style>

<div class="container bootstrap snippets bootdey my-5 border" style="border-radius: 25px; background-color: #ffffff">
    <div class="row my-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-md-offset-4">
                <div class="text-center">
                    <img src="@(string.IsNullOrEmpty(@Model.Data.ImageUrl)?"https://bootdey.com/img/Content/avatar/avatar1.png":Model.Data.ImageUrl)" width="180" class="img-thumbnail logo img-circle">
                    <div>
                        <h3 class="text-center my-2">Đổi mật khẩu</h3>
                    </div>
                    <div class="panel-body">
                        @* <div class="alert alert-danger">
                            <a class="close" data-dismiss="alert" href="#">×</a>Incorrect Email Address!
                        </div> *@
                        <fieldset>
                            <form method="post" asp-action="ChangePassword">
                                <div class="form-group mb-3">
                                    <input hidden asp-for="Data.Id" >
                                    <input asp-for="Data.Name" readonly class="form-control text-center input-lg" type="text">
                                </div>
                                <div class="form-group mb-3 row">
                                    <div class="row">
                                        <label class="col-form-label col-3">Mật khẩu cũ:</label>
                                        <div class="col">
                                            <input asp-for="OldPassword" class="form-control input-lg" placeholder="Mật khẩu cũ" type="password">
                                            <span class="text-danger" asp-validation-for="OldPassword"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <div class="row">
                                        <label class="col-form-label col-3">Mật khẩu mới:</label>
                                        <div class="col">
                                            <input asp-for="NewPassword" class="form-control input-lg" placeholder="Mật khẩu mới" type="password">
                                            <span class="text-danger" asp-validation-for="NewPassword"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <div class="row">
                                        <label class="col-form-label col-3">Nhập lại mật khẩu:</label>
                                        <div class="col">
                                            <input asp-for="CfPassword" class="form-control input-lg" placeholder="Nhập lại mật khẩu" type="password">
                                            <span class="text-danger" asp-validation-for="CfPassword"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label class="col-form-label col-3">Mã xác nhận:</label>
                                    <div class="col-9 ">
                                        <div class="row">
                                            <input asp-for="Captcha" type="text" placeholder="Nhập mã xác nhận" class="form-control col">
                                            <img class="col-3" title="Nhấn vào ảnh để hiển thị captcha mới" id="CaptchaID" onclick="ReloadCaptcha();" src="/Captcha"/>
                                            <div class="col-3"></div>
                                        </div>
                                        <span class="text-danger" asp-validation-for="Captcha"></span>
                                    </div>
                                </div>
                                <input class="btn btn-lg btn-primary btn-block my-4" value="Lưu" type="submit">
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function ReloadCaptcha() {
        var randomNumber = Math.floor(Math.random() * 1000);
        // Tạo URL mới với số ngẫu nhiên làm query string
        var captchaImage = document.getElementById('CaptchaID');
        var newSrc = "/Captcha?id=" + randomNumber;
        captchaImage.src = newSrc;
    }
</script>