@model AppData.Models.LoginModel
<style>
    .gradient-custom-2 {
        /* fallback for old browsers */
        background: #fccb90;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }

    @@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
    }
    @@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
    }

    .form-control {
        font-size: 1.6rem;
    }
    .btn {
        --bs-btn-font-size: 1.8rem;
    }
</style>

<section class="h-100 my-5" style="background-color: #eee;">
    <div class="container-fluid py-2 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="~/img/Screenshot 2024-01-11 163637.png"
                                         style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">FPHONE STORE</h4>
                                </div>
                                <partial name="DataError" />
                                <form id="form_Login" asp-action="Login" asp-controller="Accounts" method="post">
                                    <p>Vui lòng đăng nhập vào tài khoản của bạn</p>

                                    <div class="form-outline mb-4">
                                        <label class="form-label">Tên đăng nhập</label>
                                        <input asp-for="UserName" type="text" class="form-control"
                                               placeholder="Tên đăng nhập"/>
                                        <span class="text-danger error_UserName"></span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label">Mật khẩu</label>
                                        <input asp-for="Password" type="password" type="password" class="form-control"/>
                                        <span class="text-danger error_Password"></span>
                                    </div>

                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button onclick="JLogin.submitForm(event)" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">
                                            Log
                                            in
                                        </button><br/>
                                        <a class="text-muted" asp-action="ResetPassword" asp-controller="Accounts">Quên mật khẩu?</a>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-center pb-4">
                                        <p class="mb-0 me-2">Bạn không có tài khoản?</p>
                                        <a asp-controller="Accounts" asp-action="CreateAccount" class="btn btn-outline-danger">Tạo tài khoản</a>
                                    </div>

                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4" style="font-size: 18px"><strong> FPHONE STORE</strong> xin chào,</h4>
                                <p class="small mb-0" style="font-size: 16px;">
                                    <strong>FPHONE STORE</strong> là nơi bạn có thể mua sắm các sản phẩm công nghệ chính hãng của các thương hiệu nổi tiếng. Bạn sẽ tìm thấy các mẫu mới nhất, hot nhất, và giá tốt nhất tại đây.  Hãy đến với <strong> FPHONE STORE</strong> để trải nghiệm sự phục vụ tận tâm và chuyên nghiệp của chúng tôi.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/JLogin.js"></script>