@model PRO219_WebsiteBanDienThoai_FPhone.ViewModel.ResetPasswordViewModel
<style>
    .form-control {
        font-size: 1.6rem;
    }

    .btn {
        --bs-btn-font-size: 1.6rem;
    }
</style>
<!-- Password Reset 3 - Bootstrap Brain Component -->
<section class="p-3 p-md-4 p-xl-5">
    <div class="container border" style="border-radius: 25px;">
        <div class="text-center">
            <h1 class="my-5 text-primary">Quên mật khẩu</h1>
        </div>
        <div class="row mb-5 mx-3">
            <div class="col-12 col-md-6 bsb-tpl-bg-platinum" style="background-color: #e5e5e5">
                <div class="d-flex flex-column justify-content-between h-100 p-3 p-md-4 p-xl-5">
                    <h3 class="m-0">Welcome!</h3>
                    <img class="img-fluid rounded mx-auto my-4" loading="lazy" src="~/img/logoFPHONE_final.png" width="245" height="80" alt="BootstrapBrain Logo">
                    <p class="mb-0">Bạn chưa phải là thành viên? <a asp-action="CreateAccount" asp-controller="Accounts" class="link-secondary text-decoration-none">Đăng ký</a></p>
                </div>
            </div>
            <div class="col-12 col-md-6 bsb-tpl-bg-lotion">
                <div class="p-3 p-md-4 p-xl-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-5">
                                <h2 class="font-size-20">Quên mật khẩu</h2>
                                <h3 class="fw-normal text-secondary m-0">Vui lòng cung cấp địa chỉ email được liên kết với tài khoản của bạn để khôi phục mật khẩu.</h3>
                            </div>
                        </div>
                    </div>
                    <form method="post" asp-controller="Accounts" asp-action="ResetPassword" id="form_Reset">
                        <div class="row gy-3 gy-md-4 overflow-hidden">
                            <div class="col-12">
                                <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                                <input asp-for="Email" type="text" class="form-control mt-3" placeholder="name@example.com">
                                <span asp-validation-for="Email" id="email_check" class="text-danger"></span>
                                <span class="text-danger error_Email" id="error_Email" name="error_Email"></span>
                            </div>
                            <div class="col-12">
                                <div class="d-grid">
                                    <button onclick="JResetPassword.submitForm(event)" class="btn bsb-btn-xl btn-primary mt-3" type="submit">Gửi</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    @* <div class="row">
                        <div class="col-12">
                            <hr class="mt-5 mb-4 border-secondary-subtle">
                            <div class="text-end">
                                <a href="#!" class="link-secondary text-decoration-none">Đăng nhập</a>
                            </div>
                        </div>
                    </div> *@

                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/JResetPassword.js"></script>