@model IEnumerable<AppData.Models.Rom>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Danh sách rom</h1>

<p>
    <a asp-action="Create">Thêm mới +</a>
</p>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr class="text-center">
            <th>
                Tên
            </th>
            <th>
                Hành động
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Xóa", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
