@model AppData.Models.BlogEntity

@{
    ViewData["Title"] = "Quản lý nội dung";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Chỉnh sửa bài viết</h1>

<h4>Thông tin</h4>
<hr />
<div class="row mx-5">
    <div class="">
        
        <form asp-action="Edit" asp-controller="Blog" asp-area="Admin" enctype="multipart/form-data" id="form_Blog">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden asp-for="Images"/>
            <div class="form-group">
                <label class="control-label">Tiêu đề</label>
                <input asp-for="Title" class="form-control"/>
                <span class="text-danger error_Title"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <img src="@Model.Images" width="100%"/>
                </div>

                <label asp-for="Images" class="col-form-label col-2 text-right"></label>
                <div class="col-4">
                    <input type="file" name="file"/>
                    <span class="col">(Vui lòng chọn lại ảnh)</span>
                    <span asp-validation-for="Images" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Mô tả</label>
                <textarea rows="4" asp-for="IntroText" class="form-control"></textarea>
                <span class="text-danger error_IntroText"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nội dung</label>
                @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @id = "editor" })
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            @*  <div class="form-group">
            <label asp-for="Images" class="control-label"></label>

            <input type="file" name="file" />
            <span asp-validation-for="Images" class="text-danger"></span>
            </div> *@
            <div class="form-group row col-5">
                <label class="control-label col">Trạng thái</label>
                <select asp-for="Status" class="form-control col">
                    <option selected="" value="0">Hoạt động</option>
                    <option value="1">Không hoạt động</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    CKEDITOR.replace('Content');
</script>