<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Adminassets/images/logo/favicon.png">

    <!-- page css -->
    <link href="~/Adminassets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- page css -->
    <link href="~/Adminassets/vendors/datatables/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/Adminassets/vendors/select2/select2.css" rel="stylesheet">

    <link rel="stylesheet" href="~/Adminassets/dist/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Adminassets/pulice/OverlayScrollbars.min.css">
    <!-- Core css -->
    <link href="~/Adminassets/css/app.min.css" rel="stylesheet">
    
    <link rel="apple-touch-icon" href="~/assets/images/logo/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/assets/images/logo/favicon.png">
@*     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
 *@  @*   <link rel="stylesheet" type="text/css" href="~/ckeditor/styles.js"> *@
   @* <link rel="stylesheet" href="~/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="~/assets/css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="~/assets/css/themify-icons.css"/>
    <link rel="stylesheet" href="~/assets/css/prism.css"/>
    <link rel="stylesheet" href="~/assets/css/app.css"/>
*@
   
    <style>
        .fixed-top {
            position: fixed;
            top: 30px;
            background-color: #fff;
            margin-bottom: 30px;
            -webkit-box-shadow: 1px 3px 15px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 1px 3px 15px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 3px 15px 0px rgba(0, 0, 0, 0.1);
            padding: 15px 30px;
            z-index: 1;
        }

        .loader-wrapper {
            display: none;
        }

        .header .title {
            line-height: 65px;
            font-size: 20px;
        }

        .toc ul li>a {
            color: #888da8;
            font-weight: 500;
            font-size: 15px;
            padding: 10px 0px;
            display: block;
        }

        .toc ul li>a:hover,
        .toc ul li>a:focus,
        .toc ul li>a.active {
            text-decoration: none;
            color: #515365;
        }

        ul {
            list-style: none;
            margin-bottom: auto;
            padding-left: 0;
        }

        .font-weight-light {
            font-weight: 300;
        }

        code {
            color: #cd4945;
        }

        td.active {
            background-color: #fafcff;
        }

        .wrapper {
            max-width: 800px;
        }

        .syntaxhighlighter .toolbar {
            display: none;
        }

        pre {
            display: block;
            padding: 20px;
            margin: 0 0 10px;
            font-size: 13px;
            word-wrap: break-word;
            color: #b1c8d4;
            background-color: #313644;
            border: 1px solid #313644;
            border-radius: 4px;
            white-space: normal;
            word-wrap: break-word;
        }

        .opacity {
            opacity: 0.6;
        }
    </style>

</head>
<body>
@*<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/popper.min.js"></script>
<script src="~/assets/js/bootstrap.js"></script>
<script src="~/assets/js/prism.js"></script>*@
<!-- Core Vendors JS -->
<script src="~/Adminassets/js/vendors.min.js"></script>

<!-- page js -->
<script src="~/Adminassets/vendors/chartjs/Chart.min.js"></script>
<script src="~/Adminassets/js/pages/dashboard-default.js"></script>

    <!-- page js -->
    <script src="~/Adminassets/vendors/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Adminassets/vendors/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Adminassets/js/pages/e-commerce-order-list.js"></script>

    <script src="~/Adminassets/vendors/select2/select2.min.js"></script>
    <script src="~/Adminassets/vendors/quill/quill.min.js"></script>
    <script src="~/Adminassets/js/pages/e-commerce-product-edit.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
<!-- Core JS -->
<script src="~/Adminassets/js/app.min.js"></script>


<div class="app header-success-info">
    <div class="layout">

        @*<div class="header navbar">
            <div class="header-container">
                <div class="nav-logo">
                    <a href="/admin/home">
                        <img src="~/assets/images/logo/logo.png"/>
                    </a>
                </div>
                <ul class="nav-right">
                    <li>
                        <span class="font-size-20 lh-3 p-r-20">Docs v1.0.0</span>
                    </li>
                </ul>
            </div>
        </div>*@

        @await Html.PartialAsync("_SideNavPartialView.cshtml");
        @RenderSection("CSS", false)
            <!-- Page Container START -->
            <div class="page-container">

                <!-- Content Wrapper START -->
                <div class="main-content">
                    @RenderBody()

                </div>
                @await RenderSectionAsync("Scripts", false)
                <!-- Content Wrapper END -->

            </div>
            <!-- Page Container END -->


            <!-- Search Start-->
            <div class="modal modal-left fade search" id="search-drawer">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header justify-content-between align-items-center">
                            <h5 class="modal-title">Search</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <i class="anticon anticon-close"></i>
                            </button>
                        </div>
                        <div class="modal-body scrollable">
                            <div class="input-affix">
                                <i class="prefix-icon anticon anticon-search"></i>
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <div class="m-t-30">
                                <h5 class="m-b-20">Files</h5>
                                <div class="d-flex m-b-30">
                                    <div class="avatar avatar-cyan avatar-icon">
                                        <i class="anticon anticon-file-excel"></i>
                                    </div>
                                    <div class="m-l-15">
                                        <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Quater Report.exl</a>
                                        <p class="m-b-0 text-muted font-size-13">by Finance</p>
                                    </div>
                                </div>
                                <div class="d-flex m-b-30">
                                    <div class="avatar avatar-blue avatar-icon">
                                        <i class="anticon anticon-file-word"></i>
                                    </div>
                                    <div class="m-l-15">
                                        <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Documentaion.docx</a>
                                        <p class="m-b-0 text-muted font-size-13">by Developers</p>
                                    </div>
                                </div>
                                <div class="d-flex m-b-30">
                                    <div class="avatar avatar-purple avatar-icon">
                                        <i class="anticon anticon-file-text"></i>
                                    </div>
                                    <div class="m-l-15">
                                        <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Recipe.txt</a>
                                        <p class="m-b-0 text-muted font-size-13">by The Chef</p>
                                    </div>
                                </div>
                                <div class="d-flex m-b-30">
                                    <div class="avatar avatar-red avatar-icon">
                                        <i class="anticon anticon-file-pdf"></i>
                                    </div>
                                    <div class="m-l-15">
                                        <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Project Requirement.pdf</a>
                                        <p class="m-b-0 text-muted font-size-13">by Project Manager</p>
                                    </div>
                                </div>
                            </div>
                            <div class="m-t-30">
                                <h5 class="m-b-20">Members</h5>
                                <div class="d-flex m-b-30">
                                    <div class="avatar avatar-image">
                                        <img src="~/adminassets/images/avatars/thumb-1.jpg" alt="">
                                    </div>
                                    <div class="m-l-15">
                                        <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Erin Gonzales</a>
                                        <p class="m-b-0 text-muted font-size-13">UI/UX Designer</p>
                                    </div>
                                </div>
                                <div class="d-flex m-b-30">
                                    <div class="avatar avatar-image">
                                        <img src="~/adminassets/images/avatars/thumb-2.jpg" alt="">
                                    </div>
                                    <div class="m-l-15">
                                        <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Darryl Day</a>
                                        <p class="m-b-0 text-muted font-size-13">Software Engineer</p>
                                    </div>
                                </div>
                                <div class="d-flex m-b-30">
                                    <div class="avatar avatar-image">
                                        <img src="~/adminassets/images/avatars/thumb-3.jpg" alt="">
                                    </div>
                                    <div class="m-l-15">
                                        <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Marshall Nichols</a>
                                        <p class="m-b-0 text-muted font-size-13">Data Analyst</p>
                                    </div>
                                </div>
                            </div>
                            <div class="m-t-30">
                                <h5 class="m-b-20">News</h5>
                                <div class="d-flex m-b-30">
                                    <div class="avatar avatar-image">
                                        <img src="~/adminassets/images/others/img-1.jpg" alt="">
                                    </div>
                                    <div class="m-l-15">
                                        <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">5 Best Handwriting Fonts</a>
                                        <p class="m-b-0 text-muted font-size-13">
                                            <i class="anticon anticon-clock-circle"></i>
                                            <span class="m-l-5">25 Nov 2018</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Search End-->
            <!-- Quick View START -->
            <div class="modal modal-right fade quick-view" id="quick-view">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header justify-content-between align-items-center">
                            <h5 class="modal-title">Theme Config</h5>
                        </div>
                        <div class="modal-body scrollable">
                            <div class="m-b-30">
                                <h5 class="m-b-0">Header Color</h5>
                                <p>Config header background color</p>
                                <div class="theme-configurator d-flex m-t-10">
                                    <div class="radio">
                                        <input id="header-default" name="header-theme" type="radio" checked value="default">
                                        <label for="header-default"></label>
                                    </div>
                                    <div class="radio">
                                        <input id="header-primary" name="header-theme" type="radio" value="primary">
                                        <label for="header-primary"></label>
                                    </div>
                                    <div class="radio">
                                        <input id="header-success" name="header-theme" type="radio" value="success">
                                        <label for="header-success"></label>
                                    </div>
                                    <div class="radio">
                                        <input id="header-secondary" name="header-theme" type="radio" value="secondary">
                                        <label for="header-secondary"></label>
                                    </div>
                                    <div class="radio">
                                        <input id="header-danger" name="header-theme" type="radio" value="danger">
                                        <label for="header-danger"></label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <h5 class="m-b-0">Side Nav Dark</h5>
                                <p>Change Side Nav to dark</p>
                                <div class="switch d-inline">
                                    <input type="checkbox" name="side-nav-theme-toogle" id="side-nav-theme-toogle">
                                    <label for="side-nav-theme-toogle"></label>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <h5 class="m-b-0">Folded Menu</h5>
                                <p>Toggle Folded Menu</p>
                                <div class="switch d-inline">
                                    <input type="checkbox" name="side-nav-fold-toogle" id="side-nav-fold-toogle">
                                    <label for="side-nav-fold-toogle"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Quick View END -->

    </div>
</div>


</body>
</html>