.pagination {
    height: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    margin-top:20px;
}

    .pagination a {
        border-radius: 50%;
        margin-left: 5px;
        display: block;
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
    }

        .pagination a.active {
            background-color: black;
            color: white;
        }

.paging_auto a:hover, .paging_auto a:focus {
    background-color: black;
    opacity:0.7;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
