@using System.Drawing
@{
    ViewData["Title"] = "_FooterPartialView";
}




<!-- Testimonial Section -->
@*<section class="section testimonial" id="testimonial">
    <div class="testimonial__container">
        <div class="glide" id="glide_4">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li class="glide__slide">
                        <div class="testimonial__box">
                            <div class="client__image">
                                <img src="~/images/profile1.jpg" alt="profile">
                            </div>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae fuga hic nesciunt tempore
                                quibusdam consequatur eligendi unde officia ex quae.ipsum dolor sit amet consectetur adipisicing
                                elit. Recusandae fuga hic nesciunt tempore
                                quibusdam consequatur eligendi unde officia ex quae.
                            </p>
                            <div class="client__info">
                                <h3>John Smith</h3>
                                <span>Founder at Apple</span>
                            </div>
                        </div>
                    </li>
                    <li class="glide__slide">
                        <div class="testimonial__box">
                            <div class="client__image">
                                <img src="~/images/profile2.jpg" alt="profile">
                            </div>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae fuga hic nesciunt tempore
                                quibusdam consequatur
                                eligendi unde officia ex quae.ipsum dolor sit amet consectetur adipisicing elit. Recusandae fuga hic
                                nesciunt tempore
                                quibusdam consequatur eligendi unde officia ex quae.adipisicing elit. Recusandae fuga hic
                                nesciunt tempore
                                quibusdam consequatur eligendi unde officia ex quae.
                            </p>
                            <div class="client__info">
                                <h3>John Smith</h3>
                                <span>Founder at Apple</span>
                            </div>
                        </div>
                    </li>
                    <li class="glide__slide">
                        <div class="testimonial__box">
                            <div class="client__image">
                                <img src="~/images/profile3.jpg" alt="profile">
                            </div>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae fuga hic nesciunt tempore
                                quibusdam consequatur
                                eligendi unde officia ex quae.ipsum dolor sit amet consectetur adipisicing elit. Recusandae fuga hic
                                nesciunt tempore
                                quibusdam consequatur eligendi unde officia ex quae.adipisicing elit. Recusandae fuga hic
                                nesciunt tempore
                                quibusdam consequatur eligendi unde officia ex quae.
                            </p>
                            <div class="client__info">
                                <h3>John Smith</h3>
                                <span>Founder at Apple</span>
                            </div>
                        </div>

                    </li>
                    <li class="glide__slide">
                        <div class="testimonial__box">
                            <div class="client__image">
                                <img src="~/images/profile4.jpg" alt="">
                            </div>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae fuga hic nesciunt tempore
                                quibusdam consequatur
                                eligendi unde officia ex quae.adipisicing elit. Recusandae fuga hic
                                nesciunt tempore
                                quibusdam consequatur eligendi unde officia ex quae.
                                hic
                                nesciunt tempore
                                quibusdam consequatur eligendi unde officia ex quae.
                            </p>
                            <div class="client__info">
                                <h3>John Smith</h3>
                                <span>Founder at Apple</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="glide__bullets" data-glide-el="controls[nav]">
                <button class="glide__bullet" data-glide-dir="=0"></button>
                <button class="glide__bullet" data-glide-dir="=1"></button>
                <button class="glide__bullet" data-glide-dir="=2"></button>
                <button class="glide__bullet" data-glide-dir="=3"></button>
            </div>
        </div>
    </div>
</section>*@



@*<!-- NewsLetter -->
<section class="section newsletter" id="contact">
    <div class="container">
        <div class="newsletter__content">
            <div class="newsletter__data">
                <h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
                <p>A short sentence describing what someone will receive by subscribing</p>
            </div>
            <form action="#">
                <input type="email" placeholder="Enter your email address" class="newsletter__email">
                <a class="newsletter__link" href="#">subscribe</a>
            </form>
        </div>
    </div>
</section>*@
<!-- Footer -->
<footer id="footer" class="section footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer-top__box">
                <h3>EXTRAS</h3>
                <a href="#">Thương hiệu</a>
                <a href="#">Phiếu quà tặng</a>
                <a href="#">Liên kết</a>
                <a href="#">Đặc biệt</a>
                <a href="#">Sơ đồ trang web</a>
            </div>
            <div class="footer-top__box">
                <h3>INFORMATION</h3>
                <a href="#">Về chúng tôi</a>
                <a href="#">Chính sách bảo mật</a>
                <a href="#">Điều khoản & Điều kiện</a>
                <a href="#">Liên hệ với chúng tôi</a>
                <a href="#">Sơ đồ trang web</a>
            </div>
            <div class="footer-top__box">
                <h3>MY ACCOUNT</h3>
                <a href="#">Tài khoản của tôi</a>
                <a href="#">Lịch sử đặt hàng</a>
                <a href="#">Danh sách mong muốn</a>
                <a href="#">Tin</a>
                <a href="#">Trở lại</a>
            </div>
            <div class="footer-top__box">
                <h3>CONTACT US</h3>
                <div>
                    <span>
                        <svg>
                            <use xlink:href="/images/sprite.svg#icon-location"></use>
                        </svg>
                    </span>
                    Cổng số 1, Tòa nhà FPT Polytechnic, 13 phố Trịnh Văn Bô, phường Phương Canh, quận Nam Từ Liêm, TP Hà Nội
                </div>
                <div>
                    <span>
                        <svg>
                            <use xlink:href="/images/sprite.svg#icon-envelop"></use>
                        </svg>
                    </span>
                    fphone@gmail.com
                </div>
                <div>
                    <span>
                        <svg>
                            <use xlink:href="/images/sprite.svg#icon-phone"></use>
                        </svg>
                    </span>
                    0988888888
                </div>
                <div>
                    <span>
                        <svg>
                            <use xlink:href="/images/sprite.svg#icon-paperplane"></use>
                        </svg>
                    </span>
                    Hà Nội , Việt Nam
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer-bottom__box">
        </div>
        <div class="footer-bottom__box">
        </div>
    </div>

</footer>
<!-- End Footer -->